.greenColor {
  color: #7CB342;
}

.boardContainer {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border: 1px solid whitesmoke;
}

.boardContainerSidebar {
  width: 270px;
  min-width: 270px;
  border: 1px solid whitesmoke;
  padding: 10px;
}

.boardTopbar {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newColumn {
  background-color: transparent;
}

.newColumnInactive {
  color: black;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  width: 100%;
}

.newColumnActive {
  height: 120px;
}

.boardName input {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  margin: 8px;
  width: calc(100% - 16px);
  padding: 8px;
  height: 40px;
  color: black;
  font-weight: 900;
}

.boardName input:focus {
  padding: 2px;
}

.boardGrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
}

.boardItem {
  background: -webkit-gradient(linear, left top, left bottom, from(#039BE5), to(#1E88E5));
  background: linear-gradient(#039BE5, #1E88E5);
  width: 200px;
  height: 120px;
  margin: 20px;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  border: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boardItemTitle {
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
  width: 180px;
  white-space: nowrap;
  margin-bottom: auto;
  text-overflow: ellipsis;
}

.boardItemTasks {
  font-size: 1rem;
}

.boardItem:hover {
  background-color: #1565C0;
}

.boardItemNew {
  width: 200px;
  height: 120px;
  margin: 20px;
  font-size: 1.5rem;
  color: #1f1f1f;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 4px;
}

.newBoardInactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 14px;
  width: 100%;
  font-size: 1.5rem;
  color: #1f1f1f;
  border: none;
}

.newBoardInactive i {
  font-size: 1rem;
}

.newBoardActive {
  border: none;
  padding: 10px;
}

.taskContainerBase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid whitesmoke;
}

.taskColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
}

.taskColumnPlaceholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: dashed 1px black;
  padding: 10px;
  border-radius: 10px;
}

.buttonRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.taskColumnName {
  padding: 10px;
  font-size: 1rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.taskColumnName input {
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.taskColumnName input:focus {
  padding: 1px;
}

.taskColumnActionButton {
  margin-left: auto;
  font-size: 1rem;
  position: relative;
}

.taskItemActionButton {
  margin-left: auto;
  font-size: 1.5rem;
  position: relative;
}

.taskItemActionButton ul, .taskColumnName ul {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  top: 32px;
  font: bold 12px 'Open Sans Condensed', sans-serif;
  background-color: #CFD8DC;
  z-index: 1;
  /* This is important for the show/hide CSS animation */
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}

.taskItemActionButton:hover ul, .taskColumnActionButton:hover ul {
  max-height: 200px;
}

.taskItemActionButton ul li:hover, .taskColumnActionButton ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.taskItemActionButton ul li a, .taskItemActionButton ul li button, .taskColumnActionButton ul li a, .taskColumnActionButton ul li button {
  padding: 12px;
  color: black !important;
  text-decoration: none !important;
  background-color: transparent;
  border-color: transparent;
  display: block;
}

.taskColumnContainer {
  padding: 10px;
}

.taskItem {
  min-height: 64px;
  border: 1px solid #dee2e6;
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.taskItemPlaceholder {
  min-height: 64px;
  border: 1px dashed black;
  padding: 5px;
  margin: 5px;
}

.taskItemPriorityLow {
  border-left: 4px solid #43A047;
}

.taskItemPriorityVLow {
  border-left: 4px solid #039BE5;
}

.taskItemPriorityNormal {
  border-left: 4px solid #FDD835;
}

.taskItemPriorityHigh {
  border-left: 4px solid #FB8C00;
}

.taskItemPriorityVHigh {
  border-left: 4px solid #F4511E;
}

.taskItemName {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
}

.taskItemContent {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.taskItemAvatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-weight: 800;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #1565C0;
  color: white;
  padding: 1px;
  text-align: center;
}

.taskItemAvatar.unassigned {
  background-color: #1f1f1f;
}

.taskButton {
  background: -webkit-gradient(linear, left top, left bottom, from(#039BE5), to(#1E88E5));
  background: linear-gradient(#039BE5, #1E88E5);
  color: white;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #1f1f1f;
  margin: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.taskButton:hover {
  background-color: white;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
}

.taskCommentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 5px;
  min-height: 100px;
}

.taskCommentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  border: 1px solid #1f1f1f;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.taskCommentTitle {
  font-size: 18px;
  font-weight: 900;
  color: #1f1f1f;
}

.taskCommentDate {
  font-size: 14px;
  font-weight: 400;
  color: #1f1f1f;
}

.taskComment {
  width: 100%;
  min-height: 100px;
}

.taskCommentContentInner {
  padding-top: 20px;
}

.taskCommentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 980px) {
  .boardContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boardTopbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .taskContainerBase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .taskColumn {
    width: 100%;
  }
  .boardGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boardItem, .boardItemNew {
    width: calc(100% - 40px);
  }
  .boardItemTitle {
    width: 100%;
  }
}
/*# sourceMappingURL=neyolabUI.Board.css.map */