/*
NeyoLab UI library
Author: Mateusz Nejman
https://neyolab.com
*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 1.3rem;
}

h5 {
  color: black;
  font-size: 1.5rem;
  margin: auto 15px;
}

h6 {
  color: #1f1f1f;
  font-size: 1.25rem;
  margin: auto 15px;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

.mlAuto {
  margin-left: auto;
}

.mrAuto {
  margin-right: auto;
}

.mtAuto {
  margin-top: auto;
}

.margin0 {
  margin: 0;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.row,
.rowStatic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  padding: 20px;
  width: 50%;
}

.col2 {
  width: 100%;
}

.col75 {
  width: 75%;
}

.col25 {
  width: 25%;
}

.col20 {
  width: 20%;
}

.col40 {
  width: 40%;
}

.col90 {
  width: 90%;
}

.col10 {
  width: 10%;
}

.pad20 {
  padding: 20px;
}

.fullScreenInfo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3000;
}

.fullScreenInfoText {
  font-size: 50px;
  color: #1f1f1f;
}

.notificationContainer {
  position: fixed;
  top: auto;
  bottom: 0;
  right: 5px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  z-index: 2003;
}

.notification {
  height: 48px;
  min-width: 170px;
  margin: 2px;
  background-color: #f1f1f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #1f1f1f;
}

.notificationContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: auto;
}

.notificationTitle {
  color: black;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.notificationIcon {
  margin: 0;
  width: 40px;
  height: 50px;
  padding: 10px;
  font-size: 28px;
  color: black;
}

.notificationButton {
  margin: 0;
  width: 40px;
  height: 50px;
  padding: 10px;
  font-size: 28px;
  color: black;
}

.notificationText {
  color: black;
  font-size: 12px;
  min-width: 90px;
}

.baseLink {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.baseLink:hover {
  cursor: pointer;
  color: #4c4c47;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}

.topbarButton {
  background-color: transparent;
  color: #2d2d2a;
  border: 1px solid transparent;
  width: 48px;
  height: 48px;
  font-size: 1rem;
  margin: 8px;
}

.topbarButton:hover {
  background-color: #ffffff20;
  border-radius: 8px;
}

.topbarButtonSmaller {
  background-color: transparent;
  color: #2d2d2a;
  border: 1px solid transparent;
  width: 28px;
  height: 48px;
  font-size: 1.2rem;
  margin: 8px;
}

.searchBox {
  height: 40px;
  margin: 12px;
  min-width: 250px;
  width: 35%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.contentTitle {
  color: #1f1f1f;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.baseControl {
  margin: 20px 0;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.baseControl.baseControlModal {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.editorContainer {
  height: 600px;
  margin: 8px;
}

td, th {
  border: none;
  border-bottom: 1px solid #1f1f1f;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border: none;
}

table.table-bordered.dataTable tr {
  border: none;
  border-bottom: 1px solid #1f1f1f;
}

div.responsiveTable {
  background-color: white;
}

.paginate_button {
  border-color: #4c4c47;
}

.paginate_button.disabled {
  border-color: #dee2e6;
}

.paginate_button.current {
  background-color: #4c4c47;
  color: white;
}

.paginate_button:hover {
  background-color: #4c4c47;
  color: white;
  cursor: pointer;
}

.dataTables_search {
  border-color: #dee2e6;
}

.dataTables_select {
  color: #2d2d2a;
  border-color: #dee2e6;
}

.modal {
  background-color: white;
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2001;
}

.modalBackground {
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2001;
}

.modalBackground.opened {
  background: rgba(180, 180, 180, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  padding: auto;
}

.modalBottomLeft {
  bottom: 100%;
  left: 100%;
  -webkit-transition: bottom left 0.5s linear;
  transition: bottom left 0.5s linear;
}

.modalBottomRight {
  bottom: 100%;
  right: 100%;
  -webkit-transition: bottom right 0.5s linear;
  transition: bottom right 0.5s linear;
}

.modalTopLeft {
  top: 100%;
  left: 100%;
  -webkit-transition: top left 0.5s linear;
  transition: top left 0.5s linear;
}

.modalTopRight {
  top: 100%;
  right: 100%;
  -webkit-transition: top right 0.5s linear;
  transition: top right 0.5s linear;
}

.modal.opened {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.modalContent {
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
  border-radius: 10px;
}

.modalSmallerContent {
  width: 50%;
  height: 80%;
  display: none;
  overflow-y: auto;
  margin: 10% 25%;
  background-color: white;
  border-radius: 10px;
}

.modalWindowHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 64px;
  margin: 0 0 0 20px;
  border-bottom: 1px solid #dee2e6;
}

.modalWindowButton {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;
  width: 48px;
  height: 48px;
  font-size: 1rem;
  margin: 8;
}

.modalWindowButton:hover {
  background-color: #00000020;
  border-radius: 8px;
}

.modalWindowTitle {
  margin-top: auto;
  margin-bottom: auto;
}

.modalWindowContent {
  padding: 20px;
}

.modalHelperInfo {
  padding: 20px;
}

.modalHeaderButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ui-datepicker {
  background-color: white;
  color: black;
  border: 1px solid #dee2e6;
  padding: 10px;
  width: 400px;
  display: none;
}

.ui-datepicker-header {
  height: 48px;
  width: 100%;
  position: relative;
}

.ui-datepicker-prev {
  position: absolute;
  left: 2px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.ui-datepicker-next {
  position: absolute;
  right: 2px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.ui-datepicker-title {
  position: absolute;
  top: 0;
  text-align: center;
  width: 276px;
  margin: 0 51px;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar tbody tr td {
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid #dee2e6;
  padding: 5px 0;
}

.ui-datepicker-calendar thead tr th {
  text-align: center;
  border: 1px solid #dee2e6;
  padding: 5px 0;
}

.ui-datepicker-calendar tbody tr td a {
  text-decoration: none;
  color: black;
}

.ui-datepicker-calendar thead tr th a {
  text-decoration: none;
  color: black;
}

.ui-datepicker-current-day {
  background-color: #dee2e6;
}

.ui-datepicker-unselectable span {
  color: #dee2e6;
}

.ui-icon-circle-triangle-e {
  color: white;
}

.ui-icon-circle-triangle-e::after {
  color: black;
  content: "\f0a9";
}

.ui-icon-circle-triangle-w {
  color: white;
}

.ui-icon-circle-triangle-w::before {
  color: black;
  content: "\f0a8";
}

.containerScroller {
  overflow: hidden;
}

.navbar {
  height: 64px;
  background-color: #e7e7ea;
}

.sidebarBrand {
  width: 300px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarContent {
  width: calc(100vw - 300px);
  height: 64px;
  background-color: white;
  -webkit-box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
          box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebarLogo {
  width: 170px;
  max-width: 170px;
  margin: auto;
  vertical-align: middle;
}

.fixedTop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.flexRow {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contentContainer {
  min-height: 110vh;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar {
  width: 300px;
  z-index: 11;
  background-color: white;
  min-height: calc(100vh-64px);
  padding-bottom: 50px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navItem {
  line-height: 1;
  color: black;
  font-size: 15px;
}

.navCategory {
  color: #1f1f1f;
  margin: 0 30px;
  font-size: 10px;
  font-weight: 500;
  padding: 15px 0 5px 0;
}

.navLink,
.navLink:visited {
  background-color: transparent;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  position: relative;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px 15px 30px;
  white-space: nowrap;
  color: #1f1f1f;
  text-decoration: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.navLinkAvatar {
  background-color: transparent;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  position: relative;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px 15px 0;
  white-space: nowrap;
  color: #1f1f1f;
  text-decoration: none;
}

.navLinkAvatar .taskItemAvatar {
  margin-right: 10px;
  margin-left: 0;
}

.navTitle {
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  font-size: 15px;
  vertical-align: middle;
  font-weight: 500;
  display: inline-block;
}

.navLink:hover .navTitle,
.navLink.active .navTitle {
  color: #1E88E5;
}

.navLink:hover .navIcon, .navLink.active .navIcon {
  color: #1E88E5;
}

.navIcon {
  font-size: 15px;
  color: #1f1f1f;
  margin-left: 20px;
}

.containerMenu {
  padding: 1.5rem;
  width: calc(100vw - 300px);
}

.container {
  padding: 1.5rem;
  width: 100vw;
}

.containerTopbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerTitle {
  font-weight: 400;
  font-size: 20px;
  color: #1f1f1f;
}

.containerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  width: 100%;
}

.content {
  min-height: 100px;
}

.indicatorItem {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.indicatorTitle {
  font-size: 15px;
  height: 32px;
}

.indicatorItemContainer {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.indicatorItem.active .indicatorItemContainer,
.indicatorItem.active .indicatorItemContainer {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.indicatorContent,
.indicatorInfo {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.indicatorInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicatorContent {
  z-index: 4000;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.indicatorInfo {
  z-index: 3999;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ql-container {
  height: calc(100% - 42px) !important;
}

.transparentButtonLink {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;
  font-size: 1rem;
  padding: 2px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  display: block;
  text-align: left;
}

.transparentButtonLink:hover {
  background-color: #00000020;
}

.modalLoading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #3ff9dc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, rgba(63, 249, 220, 0.1)), to(#0d47a1));
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, #0d47a1 100%);
  -webkit-animation: spin 0.8s linear 0s infinite;
          animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

@media (max-width: 980px) {
  .containerTopbar {
    border-bottom: solid 1px #1f1f1f;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .containerButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modalSmallerContent {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=neyolabUI.css.map */