/*
NeyoLab UI library
Author: Mateusz Nejman
https://neyolab.com
*/

$colorPrimary: #9a0000;
$colorSecondary: #f0f0f0;
$colorThirdary: white;
$colorPrimaryText: white;
$colorSecondaryText: #b0bec5;
$colorThirdaryText: black;
$colorDisabledText: #dee2e6;
$basicBorder: #dee2e6;
$notificationBackground: #2d2d2a;
$notificationColor: white;

$contrastColor: #2d2d2a;
$baseColor: #4c4c47;
$baseTextColor: white;

$sidebarBackground: white;
$sidebarColor: #1f1f1f;
$sidebarColorSecond: #1E88E5;

$mainBackground: whitesmoke;
$mainColor: #1f1f1f;

$containerBackground: white;
$containerColor: #1f1f1f;

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.3rem;
}

h5 {
    color: $colorThirdaryText;
    font-size: 1.5rem;
    margin: auto 15px;
}

h6 {
    color: $mainColor;
    font-size: 1.25rem;
    margin: auto 15px;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
}

.mlAuto {
    margin-left: auto;
}

.mlAutoDesktop {
    margin-left: auto;
}

.mrAuto {
    margin-right: auto;
}

.mtAuto {
    margin-top: auto;
}

.margin0 {
    margin: 0;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.row,
.rowStatic, .flexCenter {
    display: flex;
    flex-direction: row;
}

.flexCenter {
    justify-content: center;
}

.col {
    padding: 0 20px;
    width: 50%;
}

.col2 {
    width: 100%;
}

.col75 {
    width: 75%;
}

.col25 {
    width: 25%;
}

.col20 {
    width: 20%;
}

.col40 {
    width: 40%;
}

.col90 {
    width: 90%;
}

.col10 {
    width: 10%;
}

.pad20 {
    padding: 20px;
}

.fullScreenInfo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.fullScreenInfoText {
    font-size: 50px;
    color: #1f1f1f;
}

.notificationContainer {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 5px;
    width: 282px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2003;
}

.notification {
    height: 48px;
    min-width: 170px;
    margin: 2px;
    background-color: #f1f1f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: solid 1px #1f1f1f;
}

.notificationContent {
    display: flex;
    flex-direction: column;
    color: $notificationColor;
    font-weight: 600;
    font-size: 20px;
    height: auto;
}

.notificationTitle {
    color: black;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.notificationIcon {
    margin: 0;
    width: 40px;
    height: 50px;
    padding: 10px;
    font-size: 28px;
    color: black;
}

.notificationButton {
    margin: 0;
    width: 40px;
    height: 50px;
    padding: 10px;
    font-size: 28px;
    color: black;
}

.notificationText {
    color: black;
    font-size: 12px;
    min-width: 90px;
}

.baseLink {
    color: $colorThirdaryText;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.baseLink:hover {
    cursor: pointer;
    color: $baseColor;
}

.transparent {
    background-color: transparent;
    border-color: transparent;
}

.topbarButton {
    background-color: transparent;
    color: $contrastColor;
    border: 1px solid transparent;
    width: 48px;
    height: 48px;
    font-size: 1rem;
    margin: 8px;
}

.topbarButton:hover {
    background-color: #ffffff20;
    border-radius: 8px;
}

.topbarButtonSmaller {
    background-color: transparent;
    color: $contrastColor;
    border: 1px solid transparent;
    width: 28px;
    height: 48px;
    font-size: 1.2rem;
    margin: 8px;
}

.searchBox {
    height: 40px;
    margin: 12px;
    min-width: 250px;
    width: 35%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.contentTitle {
    color: $containerColor;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.baseControl {
    margin: 20px 0;
    padding: 30px;
    background-color: $containerBackground;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.baseControl.baseControlModal {
    box-shadow: none;
    padding-top: 0 !important;
    margin-top: 10px !important;
}

.editorContainer {
    height: 600px;
    margin: 8px;
}

// DATATABLES TEMPLATE

td, th {
    border: none;
    border-bottom: 1px solid $containerColor;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border: none;
}

table.table-bordered.dataTable tr {
    border: none;
    border-bottom: 1px solid $containerColor;
}

div.responsiveTable {
    background-color: $colorThirdary;
}

.paginate_button {
    border-color: $baseColor;
}

.paginate_button.disabled {
    border-color: $basicBorder;
}

.paginate_button.current {
    background-color: $baseColor;
    color: $baseTextColor;
}

.paginate_button:hover {
    background-color: $baseColor;
    color: $baseTextColor;
    cursor: pointer;
}

.dataTables_search {
    border-color: $basicBorder;
}

.dataTables_select {
    color: $contrastColor;
    border-color: $basicBorder;
}

//END OF DATATABLES TEMPLATE
//MODAL PROTOTYPE
.modal {
    background-color: $colorThirdary;
    color: $colorThirdaryText;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2001;
}

.modalBackground {
    color: $colorThirdaryText;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2001;
}

.modalBackground.opened {
    background: rgba(180, 180, 180, 0.3);
    backdrop-filter: blur(2px);
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    padding: auto;
}

.modalBottomLeft {
    bottom: 100%;
    left: 100%;
    transition: bottom left 0.5s linear;
}

.modalBottomRight {
    bottom: 100%;
    right: 100%;
    transition: bottom right 0.5s linear;
}

.modalTopLeft {
    top: 100%;
    left: 100%;
    transition: top left 0.5s linear;
}

.modalTopRight {
    top: 100%;
    right: 100%;
    transition: top right 0.5s linear;
}

.modal.opened {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.modalContent {
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    border-radius: 10px;
}

.modalSmallerContent {
    width: 50%;
    height: 80%;
    display: none;
    overflow-y: auto;
    margin: 5% 25%;
    background-color: $colorThirdary;
    border-radius: 10px;
}

.modalWindowHeader {
    display: flex;
    flex-direction: row;
    height: 64px;
    margin: 0 0 0 20px;
    border-bottom: 1px solid $basicBorder;
}

.modalWindowButton {
    background-color: transparent;
    color: $colorThirdaryText;
    border: 1px solid transparent;
    width: 48px;
    height: 48px;
    font-size: 1rem;
    margin: 8;
}

.modalWindowButton:hover {
    background-color: #00000020;
    border-radius: 8px;
}

.modalWindowTitle {
    margin-top: auto;
    margin-bottom: auto;
}

.modalWindowContent {
    padding: 0 20px;
}

.modalHelperInfo {
    padding: 20px;
}

.modalHeaderButtons {
    display: flex;
    flex-direction: row;
}

.modalSection {
    width: 100%;
}

.row .modalSection:not(:first-child) {
    margin-top: 30px;
}

.modalSection .contentTitle {
    padding-top: 30px;
    margin-bottom: 0;
}

.modalSection .formGroup {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

//END OF MODAL PROTOTYPE
//Datapicker
.ui-datepicker {
    background-color: $colorThirdary;
    color: $colorThirdaryText;
    border: 1px solid $basicBorder;
    padding: 10px;
    width: 400px;
    display: none;
}

.ui-datepicker-header {
    height: 48px;
    width: 100%;
    position: relative;
}

.ui-datepicker-prev {
    position: absolute;
    left: 2px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.ui-datepicker-next {
    position: absolute;
    right: 2px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.ui-datepicker-title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 276px;
    margin: 0 51px;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar tbody tr td {
    text-decoration: none;
    color: $colorThirdaryText;
    text-align: center;
    border: 1px solid $basicBorder;
    padding: 5px 0;
}

.ui-datepicker-calendar thead tr th {
    text-align: center;
    border: 1px solid $basicBorder;
    padding: 5px 0;
}

.ui-datepicker-calendar tbody tr td a {
    text-decoration: none;
    color: $colorThirdaryText;
}

.ui-datepicker-calendar thead tr th a {
    text-decoration: none;
    color: $colorThirdaryText;
}

.ui-datepicker-current-day {
    background-color: $basicBorder;
}

.ui-datepicker-unselectable span {
    color: $colorDisabledText;
}

.ui-icon-circle-triangle-e {
    color: $colorThirdary;
}

.ui-icon-circle-triangle-e::after {
    color: $colorThirdaryText;
    content: "\f0a9";
}

.ui-icon-circle-triangle-w {
    color: $colorThirdary;
}

.ui-icon-circle-triangle-w::before {
    color: $colorThirdaryText;
    content: "\f0a8";
}

//End of datapicker
.containerScroller {
    overflow: hidden;
}

.navbar {
    height: 64px;
    background-color: #e7e7ea;
}

.sidebarBrand {
    width: 300px;
    height: 64px;
    display: flex;
}

.navbarContent {
    width: calc(100vw - 300px);
    height: 64px;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    display: flex;
    flex-direction: row;
}

.sidebarLogo {
    width: 170px;
    max-width: 170px;
    margin: auto;
    vertical-align: middle;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}

.flexRow {
    display: flex !important;
    flex-direction: row;
}

.contentContainer {
    min-height: 110vh;
    background-color: $mainBackground;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 300px;
    z-index: 11;
    background-color: $sidebarBackground;
    min-height: calc(100vh-64px);
    padding-bottom: 50px;
}

.nav {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.navItem {
    line-height: 1;
    color: black;
    font-size: 15px;
}

.navCategory {
    color: $sidebarColor;
    margin: 0 30px;
    font-size: 10px;
    font-weight: 500;
    padding: 15px 0 5px 0;
}

.navLink,
.navLink:visited {
    background-color: transparent;
    transition: padding 0.3s;
    position: relative;
    height: 52px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    white-space: nowrap;
    color: $sidebarColor;
    text-decoration: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

.navLinkAvatar {
    background-color: transparent;
    transition: padding 0.3s;
    position: relative;
    height: 64px;
    align-items: center;
    display: flex;
    padding: 15px 30px 15px 0;
    white-space: nowrap;
    color: $sidebarColor;
    text-decoration: none;
}

.navLinkAvatar .taskItemAvatar {
    margin-right: 10px;
    margin-left: 0;
}

.navTitle {
    transition: padding 0.3s;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 500;
    display: inline-block;
}

.navLink:hover .navTitle,
.navLink.active .navTitle {
    color: $sidebarColorSecond;
}

.navLink:hover .navIcon, .navLink.active .navIcon {
    color: $sidebarColorSecond;
}

.navIcon {
    font-size: 15px;
    color: $sidebarColor;
    margin-left: 20px;
}

.containerMenu {
    padding: 1.5rem;
    width: calc(100vw - 300px);
}

.container {
    padding: 1.5rem;
    width: 100vw;
}

.containerTopbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.containerTitle {
    font-weight: 400;
    font-size: 20px;
    color: $mainColor;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.content {
    min-height: 100px;
}

.indicatorItem {
    background-color: white;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
}

.indicatorTitle {
    font-size: 15px;
    height: 32px;
}

.indicatorItemContainer {
    transition: 0.6s;
    transform-style: preserve-3d;
}

.indicatorItem.active .indicatorItemContainer,
.indicatorItem.active .indicatorItemContainer {
    transform: rotateY(180deg);
}

.indicatorContent,
.indicatorInfo {
    backface-visibility: hidden;
}

.indicatorInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indicatorContent {
    z-index: 4000;
    transform: rotateY(0deg);
}

.indicatorInfo {
    z-index: 3999;
    transform: rotateY(180deg);
}

.ql-container {
    height: calc(100% - 42px) !important;
}

//
//New boards styles
//

.transparentButtonLink {
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 2px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: block;
    text-align: left;
}

.transparentButtonLink:hover {
    background-color: #00000020;
}

.modalLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(13, 71, 161, 1) 100%);
    animation: spin 0.8s linear 0s infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.clearBorder {
    border: none;
}

@media (max-width: 980px) {
    .containerTopbar {
        border-bottom: solid 1px #1f1f1f;
        flex-direction: column;
    }

    .clearBorder {
        border: none;
    }

    .contentContainer {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .mlAutoDesktop {
        margin-left: 0;
    }

    .mrCenterMobile {
        margin-left: auto;
        margin-right: auto;
    }
    
        .containerButtons {
        flex-direction: column;
    }

    .modalSmallerContent {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}